@use 'sass:math';
@use 'mixins';

@import 'setup';
@import 'typography';

@import 'modules/intro.scss';
@import 'modules/calculator.scss';
@import 'modules/results-explanation.scss';
@import 'modules/limitations.scss';

.bmi-factors-bg {
	background: linear-gradient(to left top, $bg-gradient);
	padding-top: $spacing-large;
	padding-bottom: $spacing-large;
}
.bmi-factors {
	@include mixins.flex-column;
	gap: toRem(40);
	margin: $spacing-standard;
}

.bmi-factor-cards {
	.icon {
		max-width: toRem(64);
	}

	h3 {
		margin-top: $spacing-large;
		margin-bottom: $spacing-standard;
	}
}











