@use 'sass:math';
@use 'mixins';

@import 'setup';
@import 'typography';

@import 'modules/intro.scss';
@import 'modules/calculator.scss';

.bmi-factors-bg {
	background: linear-gradient(to left top, $bg-gradient);
	padding-top: $spacing-large;
	padding-bottom: $spacing-large;
}
.bmi-factors {
	@include mixins.flex-column;
	gap: toRem(40);
	margin: $spacing-standard;
}

.bmi-factor-cards {
	.icon {
		max-width: toRem(64);
	}

	h3 {
		margin-top: $spacing-large;
		margin-bottom: $spacing-standard;
	}
}

.limitations {
	@include mixins.flex-column;
	gap: $spacing-xsmall;	
	margin: $spacing-standard;

	.limitations-intro {
		text-align: center;

		h2 {
			margin-bottom: $spacing-large;
		}
	}
}

.limitation-card {
	padding: $spacing-standard;
	border-radius: $rounded-big;
	box-shadow: 0 5px 10px $accent;

	.icon {
		max-width: toRem(32);
	}

	.limitation-card-heading {
		@include mixins.flex-row;
		align-items: center;
		gap: $spacing-xsmall;
		margin-bottom: $spacing-xsmall;
	}
}












