/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* PRIMARY */
/* Light Grey */
/* NEUTRAL */
/* BORDERS */
/* SPACING */
:root {
  --ff: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  padding-bottom: 6rem;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

@media (min-width: 48rem) {
  main {
    gap: 6rem;
  }
}
/* T Y P O G R A P H Y */
.yell-voice {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
  color: hsl(215, 31%, 21%);
}

.loud-voice {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.1rem;
  color: hsl(215, 31%, 21%);
}

.attention-voice {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
  color: hsl(215, 31%, 21%);
}

.alert-voice {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.1;
  color: hsl(215, 31%, 21%);
}

.normal-voice {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  color: hsl(215, 17%, 45%);
}

.quiet-voice {
  font-size: 0.875rem;
  line-height: 1.5;
  color: hsl(215, 17%, 45%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(227, 92%, 58%);
}

strong {
  font-weight: 600;
}

@media (min-width: 48rem) {
  .loud-voice {
    font-size: 3rem;
  }
  .attention-voice {
    font-size: 2rem;
  }
}
.intro-calc-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.background-gradient {
  position: absolute;
  background: linear-gradient(to left top, hsl(216, 95%, 92%), hsla(184, 95%, 92%, 0));
  z-index: -1;
  height: 44.375rem;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0 0 35px 35px;
}

.logo {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  max-width: 2.25rem;
}

.intro {
  text-align: center;
  margin: 0 1.5rem;
}
.intro h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 35.9375rem) {
  .logo {
    min-width: 2.5rem;
  }
  .intro-calc-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 2.6875rem 0 2.4375rem;
  }
  .intro h1 {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.calculator-module {
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 16px 32px 56px hsla(211, 40%, 69%, 0.25);
  margin-bottom: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-radius: 16px;
  background-color: #FFF;
}

.unit-type {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
.unit-type label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
  font-weight: 600;
  color: hsl(215, 31%, 21%);
}

input[type=radio] {
  appearance: none;
  height: 31px;
  width: 31px;
  margin: 0;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 50%;
}
input[type=radio]:hover {
  cursor: pointer;
  border: 1px solid hsl(227, 92%, 58%);
}
input[type=radio]:checked {
  background-color: #D6E6FE;
}
input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(227, 92%, 58%);
  position: relative;
  top: 7px;
  left: 7px;
}

.measurements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 649px;
}
.measurements label {
  display: flex;
  padding: 1.25rem 1.5rem;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 12px;
  margin-top: 0.5rem;
}
.measurements input[type=number] {
  position: relative;
  -moz-appearance: textfield;
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(215, 31%, 21%);
  width: 100%;
  border: none;
}
.measurements input[type=number]:placeholder {
  color: hsl(215, 17%, 45%);
}
.measurements input[type=number]::-webkit-outer-spin-button, .measurements input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.measurements input[type=number]:focus {
  border-color: hsl(227, 92%, 58%);
  outline: none;
}
.measurements label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem 1.5rem;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 12px;
  margin-top: 0.5rem;
}
.measurements label:hover {
  border-color: hsl(227, 92%, 58%);
  cursor: pointer;
}
.measurements label:focus-within {
  border: 1px solid hsl(227, 92%, 58%);
  outline: none;
}
.measurements .height-imperial {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  display: none;
}
.measurements .weight-imperial {
  display: none;
}
.measurements .cm, .measurements .kg, .measurements .in, .measurements .ft, .measurements .lb {
  color: hsl(227, 92%, 58%);
  font-size: 1.5rem;
  font-weight: 600;
}

output {
  display: block;
  margin-top: 1.5rem;
  padding: 2rem;
  color: #FFF;
  background: linear-gradient(to right, hsl(227, 92%, 58%), hsl(227, 100%, 67%));
  border-radius: 12px;
}
output .normal-voice {
  color: #FFF;
}
output .result {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
output .result .loud-voice {
  color: #FFF;
}
output .result-message, output .bmi-range {
  display: inline;
}

@media (min-width: 35.9375rem) {
  .calculator-module {
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 0;
  }
  .unit-type {
    margin: 2rem 0;
  }
  .unit-type, .measurements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  label[for=metric] {
    grid-column: 1;
  }
  label[for=imperial] {
    grid-column: 2;
  }
  output {
    margin-top: 2rem;
    border-radius: 16px 100px 100px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
  }
  output .result {
    width: 50%;
    margin-bottom: 0;
    right: -116px;
  }
}
.results-explanation .explanation-content {
  margin: 3rem 1.5rem 0 1.5rem;
}
.results-explanation .explanation-content h2 {
  margin-bottom: 2rem;
}

@media (35.9375rem) {
  .results-explanation {
    display: flex;
    flex-direction: row;
    gap: 4.6875rem;
    margin-right: 2.6875rem;
  }
  .results-explanation picture {
    max-width: 435px;
    position: absolute;
    left: -116px;
  }
  .results-explanation .explanation-content {
    width: 50%;
    margin-left: 50%;
  }
  .results-explanation .explanation-content .loud-voice {
    font-size: 2rem;
  }
  .bmi-factors-bg {
    padding: 3.75rem 2.6875rem 3.75rem 2.4375rem;
  }
  .bmi-factors-bg .bmi-factors {
    margin: 0;
  }
  .bmi-factor-cards {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
  }
  .bmi-factor-cards .bmi-factors-content h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .bmi-factor-cards .icon {
    max-height: 64px;
  }
}
.limitations {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem;
}
.limitations .limitations-intro {
  text-align: center;
}
.limitations .limitations-intro h2 {
  margin-bottom: 2rem;
}

.limitation-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.limitation-card {
  padding: 1.5rem;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: 16px 32px 56px hsla(211, 40%, 69%, 0.25);
}
.limitation-card .icon {
  max-width: 2rem;
}
.limitation-card .limitation-card-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.bmi-factors-bg {
  background: linear-gradient(to left top, hsl(216, 95%, 92%), hsla(184, 95%, 92%, 0));
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.bmi-factors {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 1.5rem;
}

.bmi-factor-cards .icon {
  max-width: 4rem;
}
.bmi-factor-cards h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 35.9375rem) {
  .limitations {
    margin: 0 2.6875rem 0 2.4375rem;
    gap: 3.5rem;
  }
  .limitation-card-wrap {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .limitation-card {
    padding: 2rem;
    max-width: 20.9375rem;
  }
  .limitation-card:nth-of-type(5) {
    grid-column: 1/span 2;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=output.css.map */
