@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Lexend Deca', 'Times New Roman';
	--ff-alt: 'Big Shoulders Display';

	font-size: 15px;

	/* PRIMARY */
	--bg-sedan: hsl(31, 77%, 52%); /*Bright Orange*/
	--bg-suv: hsl(184, 100%, 22%); /* Dark Cyan */
	--bg-luxury: hsl(179, 100%, 13%); /* Very Dark Cyan */

	/*	NEUTRAL*/
	--ink: hsla(0, 0%, 100%, 0.75); /* Transparent white*/	
	--highlight: hsl(0, 0%, 95%); /* Very Light gray */
}

a {
	text-decoration: none;
	color: var(--ink);
}

a:hover {
	color: var(--highlight);
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--bg-light);
	font-family: var(--ff);
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--highlight);
}

/* T Y P O G R A P H Y */
.loud-voice {
	font-family: var(--ff-alt);
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 2rem;	
	color: var(--highlight);
}

.alert-voice {
	font-size: .8rem;
	font-weight: 400;
	letter-spacing: .1rem;
	color: var(--ink-alt);
	text-transform: uppercase;
}

.normal-voice {
	font-size: 1rem; 
	line-height: 1.7em;
	font-weight: 400;
	color: var(--ink);
}

.special {
	color: var(--accent);
	display: inline;
}
