@import '/style/meyer-reset.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap')

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Inter', sans-serif;
	--ff-alt: 'Lexend Deca', 'Times New Roman';

	font-size: 15px;

	--bg: hsl(233, 47%, 7%); /*Very dark blue*/
	--card-bg: hsl(244, 38%, 16%); /* Dark desaturated blue */
	--accent: hsl(277, 64%, 61%); /* Bright purple */

	/*	NEUTRAL*/
	--ink-header: hsl(0, 0%, 100%); /* White */
	--ink: hsla(0, 0%, 100%, 0.75); /* Transparent white*/	
	--ink-alt: hsla(0, 0%, 100%, 0.6); /* Slightly transparent white */	

}

a {
	text-decoration: none;
	color: var(--ink);
}

a:hover {
	color: var(--highlight);
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--bg-light);
	font-family: var(--ff);
	font-size: 18px;
}

.loud-voice {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 2rem;	
	color: var(--ink-header);
}

.alert-voice {
	font-size: .8rem;
	font-weight: 400;
	letter-spacing: .1rem;
	color: var(--ink-alt);
	text-transform: uppercase;
}

.normal-voice {
	font-size: 1rem; 
	line-height: 1.7em;
	font-weight: 400;
	color: var(--ink);
}

.special {
	color: var(--accent);
	display: inline;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
}

.stats-preview-card {
	max-width: 328px;
	max-height: 780px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--card-bg);
	border-radius: 10px;
	text-align: center;
}

picture {
	width: 100%;
	height: 240px;
	position: relative;
}

picture::before {
	position: absolute;
	content: '';
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(277, 64%, 61%, .5);
	border-radius: 10px 10px 0 0;
}

.desktop {
	display: none;
	width: 100%;
	height: 100%;
}

.mobile {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.content {
	padding: 32px;
}

.intro {
	margin-top: 24px;
	margin-bottom: 50px;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.stats > div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
@media (min-width: 700px) {
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
}