/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* PRIMARY */
/* Cyan */
/* Bright Yellow */
/* NEUTRAL */
/* Light Gray */
/* Grayish Blue */
/* GRADIENTS */
:root {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 22%, 67%);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* T Y P O G R A P H Y */
.loud-voice {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1rem;
  color: hsl(179, 62%, 43%);
}

.attention-voice {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: hsl(204, 43%, 93%);
}

.alert-voice {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(204, 43%, 93%);
}

.normal-voice {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: hsl(204, 43%, 93%);
}

.quiet-voice {
  font-size: 1rem;
  color: hsl(204, 43%, 93%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(204, 43%, 93%);
}

.special {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  color: hsl(71, 73%, 54%);
}

.single-price-component > div {
  padding: 32px 24px;
}

.single-price-component {
  max-width: 311px;
  border-radius: 5px;
}
.single-price-component .community {
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.single-price-component .special {
  margin: 24px 0;
}
.single-price-component .subscription {
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
}
.single-price-component .subscription .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 24px 0 16px;
}
.single-price-component .subscription span {
  font-size: 2rem;
  font-weight: 700;
}
.single-price-component .subscription button {
  height: 48px;
  width: 100%;
  color: white;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.21);
  margin-top: 32px;
}
.single-price-component .why-us {
  background-color: hsla(179, 62%, 43%, 0.7);
  color: hsl(204, 43%, 93%);
  border-radius: 0 0 5px 5px;
}
.single-price-component .why-us ul {
  margin-top: 24px;
}
.single-price-component .why-us li + li {
  margin-top: 8px;
}

/*# sourceMappingURL=output.css.map */
