/* T Y P O G R A P H Y */
.loud-voice {
	font-size: 1.2rem;
	font-weight: 700;
	// letter-spacing: .9rem;
	line-height: 1.1rem;
	color: $primary;	
}

.attention-voice {
	font-size: 1.1rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: $ink;
}

.alert-voice {
	font-size: .8rem;
	font-weight: 700;
	color: $ink;	
}

.normal-voice {
	font-size: .9rem; 
	line-height: 1.5rem;
	font-weight: 400;
	color: $ink;
}

.quiet-voice {
	font-size: 1rem;
	color: $ink;
}

.whisper-voice {
	font-size: .6rem;
	letter-spacing: .1rem;
	color: $ink;
}

.special {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.2rem;
	color: $highlight;
}
