@import 'meyer-reset.css';
* {
	box-sizing: border-box;
}

body * {
/*	border: 1px solid grey;
	padding: 2px;*/
}

:root {
	--ff: 'Montserrat';
	--ff-alt: 'Fraunces';

/*Primary*/

--primary: hsl(158, 36%, 37%); /* -Dark cyan */
--background-color: hsl(30, 38%, 92%); /* Cream */

/*Neutral*/

--ink-dark: hsl(212, 21%, 14%); /* Very dark blue */
--ink: hsl(228, 12%, 48%); /* Dark grayish blue */
--background-light: hsl(0, 0%, 100%); /* white */
}

body {
	font-family: var(--ff);
	font-size: 14px;
	color: var(--ink);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.loud-voice {
	font-family: var(--ff-alt);
	font-weight: 700;
	font-size: 2rem;
	color: var(--ink-dark);
}


.mobile {
	width: 345px;
	height: 268px;
	border-radius: 10px 10px 0 0;
}

.desktop {
	display: none;
}

.product-component {
	width: 345px;
/*	height: 611px;*/
	border-radius: 10px;
}

.product-info {
	background-color: var(--background-light);
	padding: 24px;
	border-radius: 0 0 10px 10px;
}

.product-type {
	text-transform: uppercase;
	letter-spacing: .3rem;
}

.title {
	margin-top: 20px;
}

.product-description {
	line-height: 1.5rem;
	margin: 24px 0;
}

.price {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	gap: 18px;
}

.main-price {
	font-family: var(--ff-alt);
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--primary);
}

.price p {
	text-decoration: line-through;
}

button {
	background-color: var(--primary);
	color: var(--background-light);
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: 10px;
	border: none;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 10px 0;
}

button:hover {
	cursor: pointer;
}
button img {
	max-width: 18px;
}

button p {
	font-weight: 700;
}
/*footer {
	margin-bottom: 5em;
}*/

@media (min-width: 610px) {

	main {
		align-items: center;
	}

	.product-component {
		display: flex;
		width: 600px;
		height: 450px;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
		width: 50%;
		height: 100%;
		border-radius: 10px 0 0 10px;
	}

	.product-info {
		width: 50%;
		height: 100%;
		padding: 32px;
		border-radius: 0 10px 10px 0;
	}

}























}