@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';


.header {
	@include mixins.flex-column;
	@include mixins.centered;
	text-align: center;

	h1 {
		margin-top: toRem(80);
		margin-bottom: toRem(36);
	}
}

.logo {
	max-width: 100px;
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(20);	
	margin-top: toRem(68);
	margin-bottom: toRem(140);
	width: 100%;
}

input {
	width: 100%;
	border-radius: $rounded;
	padding: toRem(16);
	padding-left: toRem(16);
	border: 1px solid $ink-light;
	font-size: toRem(14);
}

.input-wrap {
	width: 100%;
}

.input-error {
	border: 1px solid $error;
}

.error {
	color: $error;
	font-style: italic;
	text-align: center;
	margin-top: toRem(8);
	margin-bottom: toRem(42);
	display: none;
}

button {
	width: 100%;
	border-radius: $rounded;
	background-color: $primary;
	text-align: center;
	padding: toRem(16);
	color: $ink-inverse;
	border: none;
	font-weight: 500;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 0 7px 5px hsla(223, 100%, 88%, .4);
}

.socials {
	@include mixins.flex-row;
	@include mixins.centered;
	gap: toRem(24);
	margin-top: toRem(200);
	margin-bottom: toRem(56);
}

.icon {
	max-width: toRem(40);
	padding: toRem(8);
	border-radius: 100%;
	border: 1px solid $ink-light;	
	cursor: pointer;
}

.icon path {
	fill: $primary;
}


@media (min-width: toRem(700)) {
	input {
		padding: toRem(28);
		padding-left: toRem(32);
		font-size: 1rem;
	}

	button {
		padding: toRem(28);
	}	

	.icon {
		max-width: toRem(62);
		padding: toRem(16);
	}
}

@media (min-width: toRem(751)) {
	main {
		max-width: toRem(750);
	}

	.header {
		h1 {
			margin-top: toRem(56);
			margin-bottom: toRem(16);
		}
	}

	form {
		@include mixins.flex-row;
		margin-bottom: toRem(92);
		align-items: flex-start;
	}

	input {
		padding: toRem(20);
	}
	.error {
		margin-bottom: 0;
	}
	
	button {
		max-width: toRem(200);
		padding: toRem(20);
	}

	.socials {
		margin-top: toRem(72);
		gap: toRem(12);

		.icon {
			max-width: toRem(32);
			padding: toRem(6);
		}
	}
}
