@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';


.header {
	@include mixins.flex-column;
	@include mixins.centered;
	text-align: center;

	h1 {
		margin-top: toRem(80);
		margin-bottom: toRem(36);
	}
}

.logo {
	max-width: 100px;
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(20);	
	margin-top: toRem(68);
	margin-bottom: toRem(140);
	width: 100%;

	input {
		width: 100%;
		border-radius: $rounded;
		padding: toRem(28);
		padding-left: toRem(32);
		border: 1px solid $ink-light;
		font-size: 1rem;
	}

	button {
		width: 100%;
		border-radius: $rounded;
		background-color: $primary;
		text-align: center;
		padding: toRem(28);
		color: $ink-inverse;
		border: none;
		font-weight: 500;
		font-size: 1rem;
	}
}

.socials {
	@include mixins.flex-row;
	gap: toRem(24);
}

.icon {
	max-width: toRem(62);
	padding: toRem(16);
	border-radius: 100%;
	border: 1px solid $ink-light;	
}

.icon path {
	fill: $primary;
}

