@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';


main {

}

.left-side {
	@include mixins.flex-column;
	gap: toRem(72);
}

.intro {
	text-align: center;
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(48);
}

button {
	background-color: $ink;
	color: $primary;
	width: toRem(400);
	padding: toRem(32);
	text-align: center;
	border-radius: 50px;
	border: none;
	box-shadow: 0 5px 5px grey;
	font-size: 2rem;
}

.logo {
	max-width: toRem(200);
}

.icon {
	max-width: toRem(54);
	color: red;
}

@media (min-width: toRem(700)) {
	main {
		padding: toRem(80);
	}

	.logo {
		min-width: toRem(240);
	}
	
	picture {
		margin-top: toRem(81);
		margin-bottom: toRem(136);
	}
}