@use 'sass:math';
@use 'mixins';

@function toRem($value) {
   @return math.div($value, 20) * 1rem;	
}

* {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

$font-sans: 'Poppins', sans-serif;
$font-serif: 'Open Sans', serif;

/* PRIMARY */
$primary: hsl(257, 40%, 49%); /* Violet */

/* SECONDARY */
$accent: hsl(300, 69%, 71%); /* Soft Magenta */
// $error: hsl(354, 100%, 66%); /* Light Red */;

/* NEUTRAL */
$ink: white; /* Very Dark Blue */
// $ink-light: hsl(0, 0%, 59%); /* Gray */
// $ink-inverse: white;
// $bg: hsl(330, 100%, 100%);

/* GRADIENTS */

/* BORDERS */
$small: 5px;
$rounded: 40px;

:root {
	font-family: $font-sans;	
}

html {
  box-sizing: border-box;
}


body {
	// border: 1px solid black;
	@include mixins.flex-column;
	@include mixins.centered;
	background: url('../images/bg-mobile.svg');
	background-repeat: no-repeat;
	background-size: 100% 45%;
	background-color: $primary;
}

main {
	border: 1px solid black;
	flex-grow: 1;
	@include mixins.flex-column;
	@include mixins.centered;
	// background-color: $primary;
	padding: toRem(40);
}

footer {
	// border: 1px solid black;
	@include mixins.flex-row;
}


a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}

