.calculator-module {
	border-radius: $rounded;
	padding: $spacing-standard;
	box-shadow: 0 8px 44px #D8E2E7; 
	margin-bottom: $spacing-xxlarge;
	border-radius: $rounded-big;
	background-color: $bg;
}

.unit-type {
	@include mixins.flex-row;
	gap: $spacing-standard;
	margin: $spacing-standard 0;
	// width: 100%;

	label {
		@include mixins.flex-row;
		align-items: center;
		gap: $spacing-small;
		font-weight: 600;
		color: $ink-dark;
	}
}

input[type='radio'] {
	appearance: none;
	height: 31px;
	width: 31px;
	margin: 0;
	border: 1px solid $accent;
	border-radius: 50%;

	&:hover {
		cursor: pointer;
		border: 1px solid $primary;
	}

	&:checked {
		background-color: $primary-light;
	}

  &:checked::before {
      content: '';
      display: block;
      width: 15px; 
      height: 15px; 
      border-radius: 50%; 
      background-color: $primary; 
      position: relative;
      top: 7px;
      left: 7px;
  }	
}

.measurements {
	@include mixins.flex-column;
	gap: $spacing-xsmall;
	max-height: 649px;

	input[type='number'] {
		position: relative;
		-moz-appearance: textfield;
		// display: block;
		font-size: toRem(24);
		font-weight: 600;
		color: $ink-dark;
		// padding: $spacing-standard-small $spacing-standard;
		// border: 1px solid $accent;
		// border-radius: $rounded;
		width: 100%;
		border: none;

		&:placeholder {
			color: $ink;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
    	-webkit-appearance: none;
    	margin: 0;
		}

		&:focus {
			outline: none;
		}
	}

	.input-wrap {
		@include mixins.flex-row;
		align-items: center;
		padding: $spacing-standard-small $spacing-standard;
		border: 1px solid $accent;
		border-radius: $rounded;
		margin-top: $spacing-xxsmall;

		&:hover {
			border-color: $primary;
			cursor: pointer;
		}

		&:focus {
			border-color: $primary;
			outline: none;
		}

		&:active {
			border-color: $primary;
			outline: none;
		}
	}

	.cm, .kg {
		color: $primary;
		font-size: toRem(24);
		font-weight: 600;
	}
}

output {
	display: block;
	margin-top: $spacing-standard;
	padding: $spacing-large;
	color: $ink-inverse;
	background: linear-gradient(to right, $primary, hsl(227, 100%, 67%));
	border-radius: $rounded;

	.normal-voice {
		color: $ink-inverse;
	}

	.result {
		@include mixins.flex-column;
		gap: $spacing-xxsmall;
		margin-bottom: $spacing-standard;

		.loud-voice {
			color: $ink-inverse;
		}	
	}
}

.results-explanation {
	.explanation-content {
		margin: $spacing-xlarge $spacing-standard 0 $spacing-standard;

		h2 {
			margin-bottom: $spacing-large;
		}
	}
}

 // T A B L E T
@media (min-width: toRem(768)) {
	.calculator-module {
		padding: $spacing-large;
		gap: $spacing-large;
		margin-bottom: 0;
	}

	.unit-type {
		margin: $spacing-large 0;
	}

	.unit-type, .measurements {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: $spacing-standard;
	}

	label[for='metric'] {
		grid-column: 1;
	}

	label[for='imperial'] {
		grid-column: 2;
	}

	output {
		margin-top: $spacing-large;
		border-radius: $rounded-big 100px 100px $rounded-big;
		@include mixins.flex-row;
		align-items: center;
		gap: $spacing-standard;
		padding: $spacing-large;
		position: relative;

		.result {
			width: 50%;
			margin-bottom: 0;
			right: -116px;
		}
	}

	.results-explanation {
		@include mixins.flex-row;
		gap: toRem(75);
		margin-right: $tablet-margin-right;
		// position: relative;

		picture {
			max-width: 435px;
			
			position: absolute;
			left: -116px;
		}

		.explanation-content {
			width: 50%;
			margin-left: 50%;
			
			.loud-voice {
				font-size: toRem(32);
			}
		}
	}

	.bmi-factors-bg {
		padding: $tablet-space-large $tablet-margin-right $tablet-space-large $tablet-margin-left;

		.bmi-factors {
			margin: 0;
		}
	}

	.bmi-factor-cards {
		@include mixins.flex-row;
		gap: $tablet-gap-standard;
		align-items: center;

		.bmi-factors-content {
			h3 {
				font-size: toRem(24);
				margin-top: 0;
				margin-bottom: $spacing-standard;
			}
		}

		.icon {
			max-height: 64px;
		}
	}
}
















