.limitations {
	@include mixins.flex-column;
	gap: $spacing-xsmall;	
	margin: $spacing-standard;

	.limitations-intro {
		text-align: center;

		h2 {
			margin-bottom: $spacing-large;
		}
	}
}

.limitation-card-wrap {
	@include mixins.flex-column;
	gap: $spacing-xsmall;
}

.limitation-card {
	padding: $spacing-standard;
	border-radius: $rounded-big;
	background-color: $bg;
	box-shadow: 16px 32px 56px hsla(211, 40%, 69%, .25);

	.icon {
		max-width: toRem(32);
	}

	.limitation-card-heading {
		@include mixins.flex-row;
		align-items: center;
		gap: $spacing-xsmall;
		margin-bottom: $spacing-xsmall;
	}
}

 // T A B L E T
@media (min-width: $tablet-view) {
	.limitations {
		margin: 0 $tablet-margin-right 0 $tablet-margin-left;
		gap: $tablet-gap-large;
	}

	.limitation-card-wrap {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	
	.limitation-card {
		padding: $spacing-large;
		max-width: toRem(335);
	}

	.limitation-card:nth-of-type(5) {
		grid-column: 1 / span 2;
		margin-left: auto;
		margin-right: auto;
	}
}