.results-explanation {
	.explanation-content {
		margin: $spacing-xlarge $spacing-standard 0 $spacing-standard;

		h2 {
			margin-bottom: $spacing-large;
		}
	}
}

 // T A B L E T
@media (min-width: toRem(680)) {
	.results-explanation {
		@include mixins.flex-row;
		align-items: center;
		gap: toRem(75);
		margin-right: $tablet-margin-right;

		picture {
			max-width: 435px;
			margin-left: -75px;
		}

		.explanation-content {
			margin: 0;
			max-width: 331px;
			
			.loud-voice {
				font-size: toRem(32);
			}
		}
	}

	.bmi-factors-bg {
		padding: $tablet-space-large $tablet-margin-right $tablet-space-large $tablet-margin-left;

		.bmi-factors {
			margin: 0;
		}
	}

	.bmi-factor-cards {
		@include mixins.flex-row;
		gap: $tablet-gap-standard;
		align-items: center;

		.bmi-factors-content {
			h3 {
				font-size: toRem(24);
				margin-top: 0;
				margin-bottom: $spacing-standard;
			}
		}

		.icon {
			max-height: 64px;
		}
	}
}