.results-explanation {
	.explanation-content {
		margin: $spacing-xlarge $spacing-standard 0 $spacing-standard;

		h2 {
			margin-bottom: $spacing-large;
		}
	}
}

 // T A B L E T
@media (min-width: toRem(680)) {
	.results-explanation {
		@include mixins.flex-row;
		align-items: center;
		gap: toRem(75);
		margin-right: $tablet-margin-right;

		picture {
			max-width: 435px;
			margin-left: -75px;
		}

		.explanation-content {
			margin: 0;
			max-width: 331px;
			
			.loud-voice {
				font-size: toRem(32);
			}
		}
	}
}

// D E S K T O P
@media (min-width: toRem(1100)) {
	.results-explanation {
		gap: toRem(140);
		justify-content: center;
		max-width: toRem(1160);
		margin: toRem(151) toRem(140) toRem(96) toRem(140);

		picture {
			margin: 0;
			min-width: toRem(533);
		}

		.explanation-content {
			max-width: toRem(465);
		}
	}
}