@import 'meyer-reset.css';
* {
	box-sizing: border-box;
}

body * {
/*	border: 1px solid grey;
	padding: 2px;*/
}

:root {
	--ff: 'Montserrat';
	--ff-alt: 'Fraunces';

/*Primary*/

--primary: hsl(158, 36%, 37%); /* -Dark cyan */
--background-color: hsl(30, 38%, 92%); /* Cream */

/*Neutral*/

--ink-dark: hsl(212, 21%, 14%); /* Very dark blue */
--ink: hsl(228, 12%, 48%); /* Dark grayish blue */
--background-light: hsl(0, 0%, 100%); /* white */
}

body {
	font-family: var(--ff);
	font-size: 14px;
	color: var(--ink);
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.loud-voice {
	font-family: var(--ff-alt);
	font-weight: 700;
	font-size: 2rem;
	color: var(--ink-dark);
}


img {
	max-width: 345px;
	max-height: 268px;
	border-radius: 10px 10px 0 0;
}

.product-component {
	max-width: 345px;
	max-height: 611px;
	border-radius: 10px;
	border: 1px solid black;
}

.product-info {
	background-color: var(--background-light);
	padding: 2rem;
}

.title {
	margin: 2rem 0;
}

.product-description {
	line-height: 1.5rem;

}

.price {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	gap: 18px;
}

.main-price {
	font-family: var(--ff-alt);
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--primary);
}

.price p {
	text-decoration: line-through;
}

button {
	background-color: var(--primary);
	color: var(--background-light);
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: 10px;
	border: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
}

button img {
	max-width: 15px;
}
footer {
	margin-bottom: 5em;
}