
header {
	@include mixins.flex-row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: $mobile-margin;
}

.menu-wrap {
	position: absolute;
	inset: 0 0 0 30%;
	background-color: white;
	display: none;
	z-index: 99;
	height: 100vh;
	padding-top: 60px;
}

.menu-wrap[data-show] {
	display: block;
}

// .menu-wrap[data-visible] {
// 	display: block;
// }

.site-menu {
	padding-top: toRem(144);
	padding-left: $spacing-standard;

	a {
		font-size: toRem(18);
	}
}

.site-menu li + li {
	margin-top: $spacing-standard;
}

.menu-button-toggle {
	display: block;
	background: none;
	border: none;

	width: toRem(40);
	aspect-ratio: 1;

	background-image: url('../assets/images/icon-menu.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.menu-button-toggle[data-closebutton] {
	background-image: url('../assets/images/icon-menu-close.svg');
	z-index: 999;
}

@media ( min-width: toRem(730) ) {
	header {
		max-width: toRem(1110);
		margin-bottom: toRem(61);
	}

	.menu-button-toggle {
		display: none;
	}

	.menu-wrap {
		position: initial;
		inset: initial;
		background-color: initial;
		display: initial;
		z-index: initial;
		height: initial;
		padding-top: initial;
	}

	.site-menu {
		@include mixins.flex-row;
		gap: toRem(40);
		padding: 0;
		color: $ink;
	}

	.site-menu li + li {
		margin: 0;
	}
}