header {
	@include mixins.flex-row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: $mobile-margin;
}

.menu-button-toggle {
	display: block;
	background: none;
	border: none;
	
	width: toRem(40);
	aspect-ratio: 1;

	background-image: url('../assets/images/icon-menu.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.site-menu {
	display: none;
}