body[data-overlay]:before {
	content: '';
	position: fixed;
	inset: 0;
	background-color: hsla(0, 0%, 0%, .5);
}

body[data-overlay] {
	overflow: hidden;
}

header {
	@include mixins.flex-row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: $mobile-margin;

	border: 1px solid red;
}

.menu-wrap {
	position: absolute;
	inset: 0 0 0 30%;
	border: 1px solid blue;
	background-color: white;
	display: none;
	z-index: 99;
	height: 100vh;

	padding-top: 60px;
}

.menu-wrap[data-visible] {
	display: block;
}

.site-menu {
	padding-top: toRem(144);
	padding-left: toRem(24);

	a {
		font-size: toRem(18);
	}
}

.site-menu li + li {
	margin-top: toRem(24);
}

.menu-button-toggle {
	display: block;
	background: none;
	border: none;
	// z-index: 99;

	width: toRem(40);
	aspect-ratio: 1;

	background-image: url('../assets/images/icon-menu.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.menu-button-toggle[data-closebutton] {
	background-image: url('../assets/images/icon-menu-close.svg');
	z-index: 999;
}
