@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';


.article-preview-card {
	// min-width: 324px;
	max-width: 325px;
	// max-height: 667px;
	@include mixins.flex-column;
	@include mixins.centered;
	background-color: white;
	border-radius: 10px;
	position: relative;

	picture {
		max-height: 200px;
		border-radius: 10px 10px 0 0;
		flex-shrink: 0;
	}

	.hero {
		// max-height: 200px;
	}

	.content {
		padding: 0 32px;

		.excerpt {
			margin: 40px 0 32px 0;

			.title {
				margin-bottom: 16px; 
			}
		}
	}

	.attribution {
		@include mixins.flex-row;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		margin-bottom: 20px;
		z-index: 9;	

		.person {
			@include mixins.flex-row;
			gap: 16px;
			align-items: center;
		}

		.avatar {
			max-width: 40px;
			border-radius: 50%;
		}

		.person-details {
			@include mixins.flex-column;
			align-items: flex-start;
			gap: 8px;
		}

		.share {
			background-color: $bg-light;
			padding: 10px;
			border-radius: 50%;
		}

		.share:hover {
			cursor: pointer;
		}
	}

	.share-menu {
		background-color: $ink;
		@include mixins.flex-row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 22px 32px;
		position: absolute;
		left: 0; bottom: 0;
		border-radius: 0 0 10px 10px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 1s linear;

		// .active {
	  // 	opacity: 1; 
	  // 	transform: translateY(0); 
	  // 	display: flex;
	  // 	visibility: visible;
		// }

		.share-options {
			@include mixins.flex-row;
			gap: 18px;
		}

		p {
			color: $ink-light;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: .2rem;
		}
	}
}

.share, .share-again {
	background-color: $bg-light;
	padding: 10px;
	border-radius: 50%;	
	max-width: 32px;
}

.icon {
	max-width: 20px;
	height: auto;
}
.icon:hover {
	cursor: pointer;
}

@media (min-width: 750px) {
	.article-preview-card {
		@include mixins.flex-row;
		max-width: 730px;
		max-height: 280px;
		align-items: stretch;

		picture {
			min-height: 100%;
			max-width: 285px;
			border-radius: 10px 0 0 10px;
			flex-shrink: 0;

			img {
				min-height: 100%;
				object-fit: cover;
			}
		}

		.content {
			padding: 40px 40px 32px 40px;

			.excerpt {
				margin: 0;
				
				.title {
					margin: 0;
				}

				.intro {
					margin: 20px 0;
				}
			}	
		}

		.attribution {
			margin: 0;
		}
	}
}


























