/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* PRIMARY */
/* Very Dark Grayish Blue */
/* Desaturated Dark Blue */
:root {
  font-size: 15px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  /*	color: blue;*/
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 46%, 95%);
}

/* T Y P O G R A P H Y */
.loud-voice {
  font-family: "Manrope", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  /*	line-height: 2rem;*/
  color: hsl(210, 46%, 95%);
}

@media (min-width: 700px) {
  .loud-voice {
    font-size: 3rem;
  }
}
.attention-voice {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: hsl(217, 19%, 35%);
}

.alert-voice {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.normal-voice {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: hsl(217, 19%, 35%);
}

.quiet-voice {
  font-size: 0.7rem;
  color: hsl(212, 23%, 69%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(217, 19%, 35%);
}

.special {
  display: inline;
}

hr {
  color: hsl(217, 19%, 35%);
  line-height: 5px;
}

.article-preview-card {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.article-preview-card picture {
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  flex-shrink: 0;
}
.article-preview-card .content {
  padding: 0 32px;
}
.article-preview-card .content .excerpt {
  margin: 40px 0 32px 0;
}
.article-preview-card .content .excerpt .title {
  margin-bottom: 16px;
}
.article-preview-card .attribution {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  z-index: 9;
}
.article-preview-card .attribution .person {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.article-preview-card .attribution .avatar {
  max-width: 40px;
  border-radius: 50%;
}
.article-preview-card .attribution .person-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.article-preview-card .attribution .share {
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 50%;
}
.article-preview-card .attribution .share:hover {
  cursor: pointer;
}
.article-preview-card .share-menu {
  background-color: hsl(217, 19%, 35%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 22px 32px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}
.article-preview-card .share-menu .active {
  opacity: 1;
  transform: translateY(0);
  display: flex;
  visibility: visible;
}
.article-preview-card .share-menu .share-options {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.article-preview-card .share-menu p {
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.share {
  background-color: hsl(210, 46%, 95%);
  padding: 10px;
  border-radius: 50%;
  max-width: 32px;
}

.icon {
  max-width: 20px;
  height: auto;
}

@media (min-width: 750px) {
  .article-preview-card {
    display: flex;
    flex-direction: row;
    max-width: 730px;
    max-height: 280px;
    align-items: stretch;
  }
  .article-preview-card picture {
    min-height: 100%;
    max-width: 285px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
  }
  .article-preview-card picture img {
    min-height: 100%;
    object-fit: cover;
  }
  .article-preview-card .content {
    padding: 40px 40px 32px 40px;
  }
  .article-preview-card .content .excerpt {
    margin: 0;
  }
  .article-preview-card .content .excerpt .title {
    margin: 0;
  }
  .article-preview-card .content .excerpt .intro {
    margin: 20px 0;
  }
  .article-preview-card .attribution {
    margin: 0;
  }
}

/*# sourceMappingURL=output.css.map */
