@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';

.signup-page {
	max-width: toRem(375);
	padding: 0 toRem(24);
	padding-top: toRem(96);
	padding-bottom: toRem(68);
}

.intro {
	text-align: center;
	@include mixins.flex-column;
	gap: toRem(28);
}

.signup-container {
	@include mixins.flex-column;
	gap: toRem(36);
	margin-top: toRem(70);
}

.attention {
	padding: toRem(18);
	color: $ink;
	text-align: center;
	background-color: $highlight;
	border-radius: $small;
	line-height: 1.4;
	box-shadow: 0 5px 0 hsla(249, 10%, 26%, .25);

	.normal-voice {
		@include mixins.centered-margin;
		max-width: toRem(186);
		font-weight: 400;
	}
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(24);
	padding: toRem(24);
	padding-bottom: toRem(30);
	background-color: $ink;
	border-radius: $small;
	box-shadow: 0 5px 0 hsla(249, 10%, 26%, .25);

	& > div {
		width: 100%;
		position: relative;
	}

	input {
		border: 1px solid $ink-inverse;
		padding: 20px;
		border-radius: $small;
		width: 100%;

		&::placeholder {
			font-weight: 600;
			font-size: toRem(12);
			color: $ink-inverse;
		}
	}

	button {
		color: $ink;
		background-color: $highlight-alt;
		text-transform: uppercase;
		border-radius: $small;
		border: none;
		padding: toRem(24);
		width: 100%;
		box-shadow: inset 0 -5px 0 hsl(155, 43%, 48%);

		&:hover {
			cursor: pointer;
		}
	}

	.error-state {
		border: 1px solid $primary;

		&::placeholder {
			color: $primary;
		}
	}
	.error-icon {
		display: none;
		max-width: toRem(24);
		position: absolute;
		right: toRem(24);
		bottom: toRem(16);
	}

	.error {
		color: $primary;
		display: none;
		font-style: italic;
		font-size: toRem(14);
		text-align: right;
		margin-top: toRem(8);
	}	

	.tos {
		text-align: center;
		line-height: 1.5;
		margin-top: toRem(-10);
		padding: 0 toRem(20);
	}

	span {
		color: $primary;
		font-weight: 700;
		font-size: toRem(12);
	}
}


.attribution {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

		font-size: 11px;
		text-align: center;
}


@media (min-width: toRem(700)) {
	main {
		height: 100vh;
	}
	.signup-page {

		@include mixins.flex-row;
		@include mixins.centered;
		max-width: toRem(1110);
		gap: toRem(48);
	}

	.intro {
		max-width: 50%;
		text-align: left;
	}
	
	.signup-container {
		max-width: 50%;
	}
}