/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* PRIMARY */
/* Desaturated Red*/
/* Soft Red */
/* NEUTRAL */
/* Dark Grayish Red */
/* GRADIENTS */
:root {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(330, 100%, 100%);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* T Y P O G R A P H Y */
.loud-voice {
  font-size: clamp(18px, 3rem, 4rem);
  font-weight: 400;
  letter-spacing: 0.9rem;
  color: hsl(0, 6%, 24%);
}

@media (min-width: 1440px) {
  .loud-voice {
    font-size: 4rem;
  }
}
.attention-voice {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  color: hsl(0, 6%, 24%);
}

.alert-voice {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(0, 6%, 24%);
}

.normal-voice {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
}

.quiet-voice {
  font-size: 0.7rem;
  color: hsl(0, 93%, 68%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(0, 93%, 68%);
}

.special {
  font-size: clamp(18px, 3rem, 4.1rem);
  font-weight: 200;
  letter-spacing: 1rem;
  color: hsl(0, 36%, 70%);
}

.landing-page {
  max-width: 375px;
  height: 100%;
  text-align: center;
}
.landing-page .logo {
  width: 100px;
  margin: 32px;
  transition: all 0.2s ease-in-out;
}
.landing-page .content {
  padding: 56px 32px 0 32px;
}
.landing-page .content .title {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.landing-page .content form {
  margin-top: 18px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landing-page .content form input {
  border: 1px solid hsl(0, 6%, 24%);
  width: 100%;
  padding: 18px 24px;
  border-radius: 25px;
  border: 1px solid hsl(0, 36%, 70%);
}
.landing-page .content form input::placeholder {
  font: "Josefin Sans", sans-serif;
  color: hsl(0, 36%, 70%);
  font-size: 14px;
}
.landing-page .content form button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  right: 0;
  bottom: 0;
  width: 64px;
  height: 100%;
  border-radius: 25px;
  border: none;
  transition: all 0.2s ease-in-out;
}
.landing-page .content form .error-icon {
  position: absolute;
  max-width: 24px;
  margin-right: 16px;
  right: 68px;
  display: none;
}
.landing-page .content form button:hover {
  cursor: pointer;
  transform: scaleX(1.2);
  transform-origin: right left;
  box-shadow: 0px 5px 8px grey;
}
.landing-page .content form .icon {
  width: auto;
}
.landing-page .content .error {
  text-align: left;
  margin-top: 8px;
  margin-left: 24px;
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 1060px) {
  main {
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
  }
  .landing-page {
    max-width: 1440px;
    max-height: 800px;
    display: flex;
    flex-direction: row;
  }
  .landing-page .mobile {
    display: none;
  }
  .landing-page .desktop {
    display: block;
  }
  .landing-page .container-desktop {
    max-width: 830px;
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-right: 220px;
  }
  .landing-page .container-desktop .logo {
    width: 160px;
    margin: 32px 0 40px 0;
  }
  .landing-page .container-desktop .content {
    max-width: 445px;
    justify-content: flex-start;
    text-align: left;
    flex-grow: 1;
    padding: 0;
  }
  .landing-page .container-desktop .content .title {
    margin-bottom: 44px;
  }
  .landing-page .container-desktop .content .normal-voice {
    line-height: 1.6rem;
  }
  .landing-page .container-desktop form {
    margin-top: 50px;
  }
  .landing-page .container-desktop form button {
    min-width: 100px;
  }
  .landing-page .container-desktop form .error-icon {
    right: 110px;
  }
}
@media (min-width: 1200px) {
  .landing-page .container-desktop .logo {
    margin: 66px 0 140px 0;
  }
}

/*# sourceMappingURL=output.css.map */
