/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* PRIMARY */
/* Red */
/* Eggplant */
/* Green */
/* Blue */
/* NEUTRAL */
/* White */
/* Grayish Blue */
/* Dark Blue */
/* GRADIENTS */
/* BORDERS */
:root {
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/bg-intro-mobile.png");
  background-color: hsl(0, 100%, 74%);
}

main {
  border: 1px solid black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* T Y P O G R A P H Y */
.loud-voice {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.4;
  color: hsl(0, 0%, 100%);
}

.attention-voice {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}

.alert-voice {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.normal-voice {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

.quiet-voice {
  font-size: 0.7rem;
  color: hsl(246, 25%, 77%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(0, 100%, 74%);
}

strong {
  font-weight: 700;
}

.special {
  font-size: clamp(18px, 3rem, 4.1rem);
  font-weight: 200;
  letter-spacing: 1rem;
  color: hsl(0, 100%, 74%);
}

@media (min-width: 43.75rem) {
  .loud-voice {
    font-size: 2.75rem;
    line-height: 1.2;
  }
}
.signup-page {
  max-width: 23.4375rem;
  padding: 0 1.5rem;
  padding-top: 6rem;
  padding-bottom: 4.25rem;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  margin-top: 4.375rem;
}

.attention {
  padding: 1.125rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  background-color: hsl(245, 31%, 50%);
  border-radius: 5px;
  line-height: 1.4;
  box-shadow: 0 5px 0 hsla(249, 10%, 26%, 0.25);
}
.attention .normal-voice {
  margin-left: auto;
  margin-right: auto;
  max-width: 11.625rem;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  padding-bottom: 1.875rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  box-shadow: 0 5px 0 hsla(249, 10%, 26%, 0.25);
}
form > div {
  width: 100%;
  position: relative;
}
form input {
  border: 1px solid hsl(249, 10%, 26%);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
form input::placeholder {
  font-weight: 600;
  font-size: 0.75rem;
  color: hsl(249, 10%, 26%);
}
form button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 1.5rem;
  width: 100%;
  box-shadow: inset 0 -5px 0 hsl(155, 43%, 48%);
}
form button:hover {
  cursor: pointer;
}
form .error-state {
  border: 1px solid hsl(0, 100%, 74%);
}
form .error-state::placeholder {
  color: hsl(0, 100%, 74%);
}
form .error-icon {
  display: none;
  max-width: 1.5rem;
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
}
form .error {
  color: hsl(0, 100%, 74%);
  display: none;
  font-style: italic;
  font-size: 0.875rem;
  text-align: right;
  margin-top: 0.5rem;
}
form .tos {
  text-align: center;
  line-height: 1.5;
  margin-top: -0.625rem;
  padding: 0 1.25rem;
}
form span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  font-size: 0.75rem;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-align: center;
}

@media (min-width: 43.75rem) {
  main {
    height: 100vh;
  }
  .signup-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 69.375rem;
    gap: 3rem;
  }
  .intro {
    max-width: 50%;
    text-align: left;
  }
  .signup-container {
    max-width: 50%;
  }
}

/*# sourceMappingURL=output.css.map */
