@use 'sass:math';
@use 'mixins';

@function toRem($value) {
   @return math.div($value, 16) * 1rem;	
}

* {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

$font-sans: 'Poppins', sans-serif;
$font-serif: 'Young Serif', serif;

/* PRIMARY */
$primary: hsl(0, 100%, 74%); /* Red */
$highlight: hsl(245, 31%, 50%); /* Eggplant */;
$highlight-alt: hsl(154, 59%, 51%); /* Green */

$accent: hsl(248, 32%, 49%); /* Blue */

/* NEUTRAL */
$ink: hsl(0, 0%, 100%); /* White */
$shadow: hsl(246, 25%, 77%); /* Grayish Blue */
$ink-inverse: hsl(249, 10%, 26%); /* Dark Blue */
// $bg: hsl(330, 100%, 100%);

/* GRADIENTS */

/* BORDERS */
$small: 5px;

:root {
	font-family: $font-sans;	
}

html {
  box-sizing: border-box;
}


body {
	border: 1px solid black;
	@include mixins.flex-column;
	@include mixins.centered;
	// height: 100vh;
	background: url('../images/bg-intro-mobile.png');
	background-color: $primary;
}

main {
	border: 1px solid black;
	flex-grow: 1;
	@include mixins.flex-column;
	@include mixins.centered;
	// background: url('../images/bg-intro-mobile.png');
	// background-color: $primary;
}

footer {
	border: 1px solid black;
	@include mixins.flex-row;
}


a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}

