@import '../../style/meyer-reset.css';
body {
	font-family: Figtree;
	font-size: clamp(.8em, 16px, 1.2em);
	font-weight: 600;
	background-color: hsl(46, 90%, 64%);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

img {
	display: block;
	width: 100%;
	height: auto;
}
.border {
	border-radius: 15px;
	color: black;
}

.card {
	border: 1px solid black;
	box-shadow: 10px 8px;
	max-width: 270px;
	margin: 100px auto;
	padding: 20px;
	background-color: white;
}

.info > * {
	margin: 20px 0;
}

.illustration {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.tag {
	margin-top: 20px;
	max-width: fit-content;
	padding: .5em .8em;
	border-radius: 5px;
	background-color: hsl(47, 88%, 63%);
	color: black;
}

.publish-date {
	font-weight: 400;
	font-size: clamp(.5em, 13px, 1.2em);
}

.header {
	font-size: clamp(1em, 21px, 2em);
}

.header:hover {
	cursor: pointer;
	color: hsl(47, 88%, 63%);;
}

.intro {
	color: hsl(0, 0%, 50%);
	line-height: 1.4em;
	font-weight: 300;
}

.author {
	display: flex;
	column-gap: 10px;
	font-size: 14px;
	font-weight: 600;
	align-items: center;
}

.avatar {
	max-width: 45px;
}

@media (min-width: 420px) {
	.card {
		min-width: 350px;
	}
}



 .attribution { font-size: 11px; text-align: center; }
