@import '/style/meyer-reset.css';

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}	
@font-face {
	font-family: 'Roboto Bold';
	src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Roboto';
	--ff-bold: 'Roboto Bold';

	--primary: hsl(4, 100%, 67%); /*Tomato*/

	--accent: hsl(231, 7%, 60%); /* Grey */
	--light-accent: white;
	--dark-accent: hsl(234, 29%, 20%); /*Dark Slate Grey*/
 	--font-color: hsl(235, 18%, 26%); /*Charcoal Grey*/
	--font-color-dark: hsl(224, 30%, 27%); /*Dark gray blue*/

}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--dark-accent);
	font-family: var(--ff);
	font-size: 16px;
}

.loud-voice {
	color: var(--font-color);
	font-family: var(--ff-bold);
	font-size: 2rem;
}

.attention-voice {
	color: var(--font-color);
	font-size: 1.2rem;
	font-weight: 700;
}

.normal-voice {
	color: var(--font-color);
	font-size: 1rem; 
	line-height: 1.3em;
}
    