@import '/style/meyer-reset.css';

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


* {
	box-sizing: border-box;
}

:root {
	--ff: 'Overpass';

	--primary: hsl(25, 97%, 53%); /*Orange*/

	--white: white;
	--light-grey: hsl(217, 12%, 63%);
	--med-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);

}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--very-dark-blue);
	font-family: var(--ff);
	font-size: 15px;
}

.loud-voice {
	color: var(--white);
	font-family: var(--ff);
	font-size: 2rem;
}

.attention-voice {
	color: var(--white);
	font-size: 1.2rem;
	font-weight: 700;
}

.normal-voice {
	font-family: var(--ff);
	color: var(--white);
	font-size: 1rem; 
	line-height: 1.3em;
}
    

ol {
	display: flex;
}

li {
	margin-left: 18px;
	border-radius: 100%;
	padding: 10px;
	background-color: var(--dark-blue);
	width: 40px;
	height: 40px;
	text-align: center;
}

.thank-you {
/*	display: none;*/
}