@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';


.social-proof {
	min-width: 375px;
	background-color: white;
	@include mixins.flex-column;
	@include mixins.centered;
	gap: 44px;
	padding: 80px 24px;
}

.title {
	text-align: center;

	h1 {
		padding: 0 40px;
	}

	.intro {
		margin-top: 24px;

	}
}

%rating-design {
	border-radius: 10px;
	background-color: $ink-alt;
	padding: 16px 0;	
	width: 328px;
	@include mixins.flex-column;
	@include mixins.centered;
	gap: 8px;
}

.ratings {
	@include mixins.flex-row;
	@include mixins.centered;
	flex-wrap: wrap;
	gap: 16px;

	.reviews, .guru, .bestTech {
		@extend %rating-design;
	}

	.stars {
		@include mixins.flex-row;
		@include mixins.centered;
		gap: 8px;
	}
}

.testimonials {
	@include mixins.flex-row;
	@include mixins.centered;
	flex-wrap: wrap;
	gap: 16px;
}

.testimonial-card {
	width: 328px;
	min-height: 248px;
	@include mixins.flex-column;
	gap: 24px;
	padding: 32px;
	background-color: $primary;
	border-radius: 10px;

	.heading {
		@include mixins.flex-row;
		gap: 16px;
		align-items: center;

		.profile {
			max-width: 40px;
			border-radius: 50%;
		}

		.buyer-info {
			@include mixins.flex-column;
			gap: 4px;	
		}		

		.name {
			font-weight: 500;
			color: $ink-inverse;
		}

		.buyer {
			color: $primary-alt;

		}
	}

	p {
		color: $ink-inverse;
		font-weight: 400;
	}

}
@media (min-width: 1440px) {
	.social-proof {
		min-width: 1440px;
		min-height: 800px;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 50% 50%;
		padding: 100px 160px;
	}

	.title {
		grid-row: 1;
		grid-column: 1;
		text-align: left;
		max-width: 416px;

		h1 {
			padding: 0;
		}
	}

	.ratings {
		grid-row: 1;
		grid-column: 2;
	}

	.testimonials {
		grid-row: 2;
		grid-column: 1 / span 2;
	}
}