@import '/style/meyer-reset.css';

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Red Hat Display';

	--bg-light: hsl(225, 100%, 94%); /*Pale blue*/
	--highlight: hsl(245, 75%, 52%); /* Bright blue */
	--active-color: hsl(245, 83%, 68%); /* Bright purple */

	/*	NEUTRAL*/
	--v-pale-blue: hsl(225, 100%, 98%); /* Very dark blue */
	--ink: hsl(224, 23%, 55%); /* Very dark blue */	
	--ink-dark: hsl(223, 47%, 23%); /* Very dark blue */	

}

a {
	text-decoration: none;
	color: var(--ink);
}

a:hover {
	color: var(--highlight);
	cursor: pointer;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--bg-light);
	font-family: var(--ff);
	font-size: 18px;
}

.loud-voice {
	font-size: 1.2rem;
	font-weight: 700;	
	color: var(--ink-dark);
}

.attention-voice {
	color: var(--ink-dark);
	font-size: 1.2rem;
	font-weight: 700;
}

.alert-voice {
	font-size: .9rem;
	font-weight: 700;
	color: var(--ink-dark);
}

.normal-voice {
	font-size: 1rem; 
	line-height: 1.7em;
/*	font-weight: 300;*/
	color: var(--ink);
}

.quiet-voice {
	font-size: .8rem;
	color: var(--ink);
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-light);
}

.desktop {
	display: none;
}

@media (min-width: 700px) {
	.mobile {
		display: none;
	}
	
	.desktop {
		display: block;
	}
}