@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';

.calc-app {
	padding: toRem(52) toRem(24);
	border-radius: 20px 20px 60px 20px;
	background-color: $card-bg;
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(24);
}

.date-entry {
	@include mixins.flex-row;
	gap: toRem(16);
}

label {
	@include mixins.flex-column;
	font-size: 1.2rem;
	font-weight: 700;
	color: $bg-alt;	
}

.label-error {
	color: $error;
}

input {
	margin: toRem(8) 0;
	border: 1px solid $ink-alt;
}

.input-error {
	border: 1px solid $error;
}

button {
	background-color: $primary;
	border: none;
	border-radius: 50%;
	padding: 20px;
	cursor: pointer;

	.arrow {
		max-width: toRem(62);
	}

	&:hover {
		background-color: $ink;
	}
}

output {
	& > div {
		@include mixins.flex-row;
	}

	.total-years, .total-months, .total-days {
		color: $primary;
	}
}

.error {
	color: $error;
	font-weight: 400;
	font-style: italic;
	font-size: .6rem;
	display: none;
}
