@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';

.calc-app {
	padding: toRem(52) toRem(24);
	border-radius: 20px 20px 60px 20px;
	background-color: $card-bg;
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(24);
}

.date-entry {
	@include mixins.flex-row;
	gap: toRem(16);
}
label {
	@include mixins.flex-column;
}

button {
	background-color: $primary;
	border: none;
	border-radius: 50%;
	padding: 20px;
	cursor: pointer;

	svg  {
		z-index: 9;
		path {
			stroke: red;
			stroke-width: 5px;
		}
	}

}
output {
	& > div {
		@include mixins.flex-row;
	}
}

svg {
 	border: 1px solid black;

	path {
		stroke: black;
		fill: black;
		stroke-width: 10px;
		z-index: 9;
	}
}

.arrow {
	border: 2px solid limegreen;
	height: 100px;
}