@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';
@import 'setup';
@import 'typography';

.calc-app {
	padding: toRem(52) toRem(24);
	border-radius: 20px 20px 60px 20px;
	background-color: $card-bg;
}

form {
	@include mixins.flex-column;
	@include mixins.centered;
	gap: toRem(32);
	position: relative;
}

hr {
	background-color: $ink-alt;
	border: none;
	height: 2px;
	position: absolute;
	width: 100%;
	top: toRem(150);
	// bottom: toRem(20);
}

.date-entry {
	@include mixins.flex-row;
	gap: toRem(16);
}

label {
	@include mixins.flex-column;
	font-size: 1.2rem;
	font-weight: 400;
	color: $bg-alt;	
}

.label-error {
	color: $error;
}

.data-entry {
	@include mixins.flex-row;
	gap: toRem(16);
}

input {
	margin: toRem(8) 0;
	padding: toRem(16);
	max-width: toRem(88);
	border-radius: 10px;
	border: 1px solid $ink-alt;
	color: $ink;
	font-weight: 700;

	&::placeholder {
		color: $ink;
		font-weight: 800;
	}
}

.input-error {
	border: 1px solid $error;
}

button {
	background-color: $primary;
	border: none;
	border-radius: 50%;
	padding: 20px;
	cursor: pointer;
	margin-bottom: toRem(36);
	z-index: 9;

	.arrow {
		max-width: toRem(62);
	}

	&:hover {
		background-color: $ink;
	}
}

output {
	& > div {
		@include mixins.flex-row;
		gap: toRem(4);
	}

	.total-years, .total-months, .total-days {
		color: $primary;
	}
}

.result {
	color: $primary;
	font-size: 2rem;
	font-weight: 800;
	font-style: italic;
}

.error {
	color: $error;
	font-weight: 400;
	font-style: italic;
	font-size: .6rem;
	display: none;
}
