/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, a {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */
/* PRIMARY */
/* Light Red */
/* SECONDARY */
/* NEUTRAL */
/* */
/* GRADIENTS */
/* BORDERS */
:root {
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(259, 100%, 65%);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

picture {
  display: block;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/* T Y P O G R A P H Y */
.loud-voice {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.6;
  color: hsl(0, 0%, 8%);
}

.attention-voice {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: hsl(0, 0%, 8%);
}

.alert-voice {
  font-size: 0.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}

.normal-voice {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  color: hsl(0, 0%, 8%);
}

.quiet-voice {
  font-size: 0.7rem;
  color: hsl(0, 0%, 8%);
}

.whisper-voice {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  color: hsl(259, 100%, 65%);
}

strong {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
}

.special {
  font-size: 2rem;
  font-weight: 800;
  font-style: italic;
  color: hsl(0, 0%, 8%);
}

@media (min-width: 43.75rem) {
  .loud-voice {
    font-size: 2.75rem;
    line-height: 1.2;
  }
  .normal-voice {
    font-size: 1.9rem;
  }
}
@media (min-width: 62.5rem) {
  .loud-voice {
    font-size: 2.85rem;
    line-height: 1.5;
  }
  .normal-voice {
    font-size: 1.3rem;
  }
}
.calc-app {
  padding: 3.25rem 1.5rem;
  border-radius: 20px 20px 60px 20px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.date-entry {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(0, 1%, 44%);
}

.label-error {
  color: hsl(0, 100%, 67%);
}

.data-entry {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  max-width: 5.5rem;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 86%);
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}
input::placeholder {
  color: hsl(0, 0%, 8%);
  font-weight: 800;
}

.input-error {
  border: 1px solid hsl(0, 100%, 67%);
}

button {
  background-color: hsl(259, 100%, 65%);
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
}
button .arrow {
  max-width: 3.875rem;
}
button:hover {
  background-color: hsl(0, 0%, 8%);
}

output > div {
  display: flex;
  flex-direction: row;
}
output .total-years, output .total-months, output .total-days {
  color: hsl(259, 100%, 65%);
}

.error {
  color: hsl(0, 100%, 67%);
  font-weight: 400;
  font-style: italic;
  font-size: 0.6rem;
  display: none;
}

/*# sourceMappingURL=output.css.map */
