@import 'meyer-reset.css';


@font-face {
	font-family: Inter;
	src: url(https://fonts.google.com/specimen/Inter);
}

:root {
	--ff-sans: Inter, sans-serif;
	--primary: hsl(75, 94%, 57%); /*-- green */
	--primary-light: hsl(0, 0%, 100%); /*-- white */
	--highlight: hsl(0, 0%, 20%); /*-- grey */	
	--card-background: hsl(0, 0%, 12%); /*-- dark grey */
	--background: hsl(0, 0%, 8%); /*-- off black */
	
}

a {
	text-decoration: none;
	color: var(--primary-light);
	font-weight: 600;
	font-size: .9em;
}

p {
	color: var(--primary-light);
	font-size: 14px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--ff-sans);
	background-color: var(--background);
   justify-content: center;
   align-items: center;	
}

.social-card {
	text-align: center;
	background-color: var(--card-background);
	border-radius: 5px;
	padding: 15px;
	max-width: 350px;
}

img {
	display: block;
	width: 25%;
	height: auto;
	border-radius: 100%;
	margin: 20px auto;
}

.social-links {
	display: flex;
	flex-direction: column;
}

a {
	background-color: var(--highlight);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

a:hover {
	background-color: var(--primary);
	color: var(--card-background);
}

.contact {
	margin: 25px 0;
}

h1 {
	color: var(--primary-light);
}

h2 {
	font-size: 1.5em;	
	font-weight: 600;
	margin-right: 10px;
	margin-bottom: 10px;
	color: var(--primary-light);
}

h3 {
	color: var(--primary);
	font-weight: 700;
}

.quote {
	margin-bottom: 20px;
	font-weight: 400;
}

footer {
	margin-bottom: 40px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }