@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
}

$font-stack: 'Poppins', sans-serif;


/* PRIMARY */
$ink-dark: hsl(234, 12%, 34%); /* Very Dark  Blue */
$ink: hsl(229, 6%, 66%); /* Grayish Blue */
$ink-light: hsl(0, 0%, 98%); /* Very Light Gray */

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

:root {
	font-size: 15px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
/*	color: blue;*/
	text-decoration: underline;
}

a:hover {
	// color: $highlight;
	cursor: pointer;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}


body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: $ink-light;
	font-family: $font-stack;
	font-size: 13px;
}

main {
	flex-grow: 1;
	@include mixins.flex-column;
	@include mixins.centered;
	// background-color: $bg-light;
}

footer {
	@include mixins.flex-row;
	@include mixins.centered;
}
.attribution 	{ 
	font-size: 11px; text-align: center; 	
}
.attribution a 	{ 
	color: hsl(228, 45%, 44%); 	
}

@media (min-width: 700px) {

}

/* T Y P O G R A P H Y */
.loud-voice {
	font-family: $font-stack;
	font-size: 1.6rem;
	font-weight: 600;
/*	line-height: 2rem;*/
	// color: $bg-light;	
}

@media (min-width: 700px) {
	.loud-voice {
		font-size: 3rem;
	}
}

.attention-voice {
	font-size: 1.6rem;
	font-weight: 200;
	line-height: 1.5rem;
	color: $ink-dark;
}

@media (min-width: 700px) {
	.attention-voice {
		font-size: 3rem;
	}
}

.alert-voice {
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.6rem;
	color: $ink;	
}

.normal-voice {
	font-size: .8rem; 
	line-height: 1.5rem;
	font-weight: 200;
	color: $ink;
}

.quiet-voice {
	font-size: .7rem;
	color: $ink;
}

.whisper-voice {
	font-size: .6rem;
	letter-spacing: .1rem;
	color: $ink;
}

