@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

$font-stack: 'Josefin Sans', sans-serif;

/* PRIMARY */
$primary-light: hsl(0, 36%, 70%); /* Desaturated Red*/
$primary: hsl(0, 93%, 68%); /* Soft Red */

/* NEUTRAL */
$ink: hsl(0, 6%, 24%); /* Dark Grayish Red */
$bg: hsl(330, 100%, 100%);

/* GRADIENTS */
$bg-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

$bg-gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

:root {
	font-family: $font-stack;	
	font-size: 16px;
}

html {
  box-sizing: border-box;
}


body {
	display: flex;
	@include mixins.flex-column;
	@include mixins.centered;
	height: 100vh;
	background-color: $bg;
}

main {
	flex-grow: 1;
	@include mixins.flex-column;
	@include mixins.centered;
	// background-color: $bg-gradient;
}

footer {
	@include mixins.flex-row;
}


a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}


@media (min-width: 700px) {

}

/* T Y P O G R A P H Y */
.loud-voice {
	font-size: clamp(18px, 3rem, 4rem);
	font-weight: 400;
	letter-spacing: .9rem;
	color: $ink;	
}

@media (min-width: 1440px) {
	.loud-voice {
		font-size: 4rem;
	}
}

.attention-voice {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5rem;
	color: $ink;
}

.alert-voice {
	font-size: .8rem;
	font-weight: 700;
	color: $ink;	
}

.normal-voice {
	font-size: .9rem; 
	line-height: 1.4rem;
	font-weight: 400;
	color: $primary-light;
}

.quiet-voice {
	font-size: .7rem;
	color: $primary;
}

.whisper-voice {
	font-size: .6rem;
	letter-spacing: .1rem;
	color: $primary;
}

.special {
	font-size: clamp(18px, 3rem, 4.1rem);
	font-weight: 200;
	letter-spacing: 1rem;
	color: $primary-light;
}
