@import '/style/meyer-reset.css';

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}	

@font-face {
	font-family: 'Roboto Bold';
	src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Roboto';
	--ff-bold: 'Roboto Bold';

	--primary: hsl(4, 100%, 67%); /*Tomato*/
	--gradient-royal: hsla(241, 81%, 54%, 1); /*Light royal blue*/
	--gradient-circle-top: hsla(256, 72%, 46%, 1); /*Violet blue*/
	--gradient-circle-btm: hsla(241, 72%, 46%, 0); /*Persian blue*/

	--accent: hsl(231, 7%, 60%); /* Grey */
	--light-accent: white;
	--background-color: hsl(234, 29%, 20%); /*Dark Slate Grey*/
 	--font-color: hsl(235, 18%, 26%); /*Charcoal Grey*/
	--font-color-dark: hsl(224, 30%, 27%); /*Dark gray blue*/

}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--background-color);
	font-family: var(--ff);
	font-size: 16px;
}

.loud-voice {
	color: var(--font-color);
	font-family: var(--ff-bold);
	font-size: 2rem;
}

.attention-voice {
	color: var(--font-color);
	font-size: 1.2rem;
	font-weight: 700;
}

.normal-voice {
	color: var(--font-color);
	font-size: 1rem; 
	line-height: 1.3em;
}


main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light-accent);
}

.signup-form {
	max-width: 375px;
	min-height: 642px;
	border: 1px solid blue;
}

img.mobile {
	min-width: 100%;
	max-height: 284px;
}

img.desktop {
	display: none;
}

.signup-content {
	margin: 40px 24px;
}

.signup-content p {
	margin: 26px 0;
}

li {
/*	list-style-image: url('../assets/images/icon-list.svg');
	margin-left: 24px;*/
}

li::before {
	content: url('../assets/images/icon-list.svg');
	border: 1px solid black;
	height: 10px;
	width: 10px;
	padding-top: 10px;
}
.success-card {
	display: none;
}

footer {
	margin: 30px auto;
}                                                                                                                                                                   
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }                                                   