@use 'sass:math';
@use 'mixins';
@import '../../../../style/meyer-reset';

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@function toRem($value) {
   @return math.div($value, 16) * 1rem;	
}

* {
	box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */


/* PRIMARY */
$accent: hsl(5, 85%, 63%); /* Soft red */;
$accent-alt: hsl(35, 77%, 62%); //Soft orange

/* NEUTRAL */
$paper: hsl(36, 100%, 99%); //Off-white
$ink-dark: hsl(240, 100%, 5%); // Dark Space Blue, very dark blue
$ink: hsl(236, 13%, 42%); // Gunmetal, dark grayish blue
$ink-inverse: hsl(233, 8%, 79%); // Silver, grayish blue
// $ink-inverse: white;

/* BORDERS */
$small: 5px;
$rounded: 12px;
$rounded-big: 16px;
$rounded-xbig: 35px;

/* SPACING */
$mobile-margin-sm: toRem(16);
$mobile-margin-med: toRem(28);
$mobile-margin: toRem(32);
$mobile-margin-lg: toRem(64);
$mobile-margin-xlg: toRem(80);

$li-margin: toRem(24);
$tablet-margin-left: toRem(39);
$tablet-gap-standard: toRem(40);
$tablet-margin-right: toRem(43);
$tablet-gap-large: toRem(56);
$tablet-space-large: toRem(60);


$tablet-view: toRem(575);
$desktop-view: toRem(900);

:root {
	--ff: 'Inter', sans-serif;	

}

html {
  box-sizing: border-box;
  font-family: var(--ff);
}

// r

body {
	@include mixins.flex-column;
	@include mixins.centered;
	background-color: $paper;
}

main {
	flex-grow: 1;
	@include mixins.flex-column;
	@include mixins.centered;
	// gap: $spacing-xxlarge;
	padding-bottom: toRem(96);
	max-width: toRem(1440);
}

footer {
	// border: 1px solid black;
	@include mixins.flex-row;
}


a {
	display: block;
	text-decoration: none;
	color: inherit;

	&:hover {
		color: $accent;
	}
}

p a {
	display: inline;
	text-decoration: underline;
}

a:hover {
	cursor: pointer;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}

@media (min-width: toRem(768)) {
	// $spacing-xlarge: toRem(40);

	main {
		gap: toRem(96);
	}
}

@media (min-width: toRem(1100)) {
	main {
		gap: 0;
	}
}