/* T Y P O G R A P H Y */
// .yell-voice {
// 	font-size: toRem(48);
// 	font-weight: 600;
// 	line-height: 1.1;
// 	// letter-spacing: .9rem;
// 	color: $ink-dark;	
// }

.loud-voice {
	font-size: toRem(40);
	font-weight: 800;
	// line-height: 1.1;
	// letter-spacing: -0.1rem;
	color: $ink-dark;
}

.attention-voice {
	font-size: toRem(40);
	font-weight: 700;
	line-height: 1.1;
	color: $ink-dark;	
}

.alert-voice {
	font-size: toRem(32);
	font-weight: 700;
	line-height: 1.1;
	color: $ink-dark;	
}

.normal-voice {
	font-size: toRem(20); 
	line-height: 1.2;
	font-weight: 400;
	// letter-spacing: 0.01rem;
	color: $ink;
}

.quiet-voice {
	font-size: toRem(18);
	line-height: 1.3;
	color: $ink;
}

.whisper-voice {
	font-size: toRem(15);
	// letter-spacing: .1rem;
	line-height: 1.5;
	color: $ink;
}

strong {
	font-weight: 600;
}

@media (min-width: toRem(768)) {
	.loud-voice {
		font-size: toRem(48);
	}

	.attention-voice {
		font-size: toRem(32);
	}
}

@media (min-width: toRem(1200)) {
	.yell-voice {
		font-size: toRem(64);
	}

	.loud-voice {
		font-size: toRem(48);
	}

	.attention-voice {
		font-size: toRem(48);
	}
}