@import '/style/meyer-reset.css';
@font-face {
	font-family: 'Hanken Grotesk';
	src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

:root {
	--ff: 'Hanken Grotesk';
	--reaction-color: hsl(0, 100%, 67%); /*Light red*/
	--memory-color: hsl(39, 100%, 56%); /*Orangey yellow*/
	--verbal-color: hsl(166, 100%, 37%); /*Green teal*/
	--visual-color: hsl(234, 85%, 45%); /*Cobalt blue*/

	--gradient-slate: hsl(252, 100%, 67%); /*Light slate blue*/
	--gradient-royal: hsl(241, 81%, 54%); /*Light royal blue*/
	--gradient-circle-top: hsla(256, 72%, 46%, 1); /*Violet blue*/
	--gradient-circle-btm: hsla(241, 72%, 46%, 0); /*Persian blue*/

	--light-accent: white;
	--pale-blue: hsl(221, 100%, 96%); /*Pale blue*/
 	--font-color: hsl(241, 100%, 89%); /*Light lavender*/
	--button-color: hsl(224, 30%, 27%); /*Dark gray blue*/

}

body * {
	border: 1px solid black;
	margin: 2px;	
}
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--background);
	font-family: var(--ff);
	font-size: 15px;
	font-weight: 400;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category {
	display: flex;
}
footer {
	margin: 30px auto;
}                                                                                                                                                                                                                      